{% extends "base.html" %}
{% set active_page = "admin/index" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <table class="table">
                {% for post in posts %}
                    <tr>
                        <td scope="row">#{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td class="post_tools">[ 删除 ] ｜ ［ 编辑 ］</td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>

{% endblock %}